.nav_container {
    visibility: hidden;
    transform: translateX(-100%);
    transition: transform 500ms, visibility 500ms;
    margin-top: 51px;
    width: 13%;
    min-height: 100vh;
    background: rgb(18, 25, 29);
    display: flex;
    flex-direction: column;
}

.nav_item {
    margin: 0 1px 0 0;
    padding: 5px 0 5px 70px;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    color: #90a4ae;
    cursor: pointer;
}

.nav_item:hover {
    border-left: 2px solid orange;
    background: rgb(38, 49, 55);
}

.show_nav {
    visibility: visible;
    transform: translateX(0);
    transition: transform 500ms;
}