@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #90a4ae;
    background: rgb(38, 49, 55);
}

.container {
    display: flex;
}

.topline_container {
    position: fixed;
    width: 100%;
    padding: 10px;
    background: rgb(18, 25, 29);
    display: flex;
}

.sidebar_btn {
    width: 27px;
    cursor: pointer;
    margin-right: 25px;
}

.logo {
    margin-top: 2px;
    width: 7%;
    cursor: pointer;
    align-self: center;
}

.nav_container {
    margin-top: 51px;
    width: 13%;
    min-height: 100vh;
    background: rgb(18, 25, 29);
    display: flex;
    flex-direction: column;
}

.nav_item {
    margin: 0 1px 0 0;
    padding: 5px 0 5px 70px;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    color: #90a4ae;
    cursor: pointer;
}

.nav_item:hover {
    border-left: 2px solid orange;
}

.nav_item:focus {
    background: rgb(38, 49, 55);
}

.groups-tasks_container {
    margin: 51px 0 0 20px;
}

.form,
.group {
    background-color: rgb(29, 39, 44);
    border: 1px solid rgb(24, 23, 23);
}

.form {
    padding: 12px 10px;
    margin-bottom: 60px;
}

.form_input {
    width: 810px;
    margin: 0 50px 0 50px;
    padding: 10px;
    background: transparent;
    color: #90a4ae;
    outline: none;
    border: none;
    font-family: 'Roboto', sans-serif;
}

.form_input::placeholder {
    color: #90a4ae;
}

.form_input:hover,
.form_input:focus {
    border: 1px solid rgb(24, 23, 23);
}

.form_btn {
    background-color: rgb(30, 171, 241);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px 8px;
}

.form_btn:hover {
    background-color: rgb(24, 144, 204);
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    border-bottom: 5px solid rgb(18, 25, 29);
    border-right: 1px solid rgb(18, 25, 29);
    border-left: 1px solid rgb(18, 25, 29);
    margin: 0 0 30px 0;
}

.group_time {
    background: rgb(18, 25, 29);
    padding: 10px;
    margin: 0 0 0 20px;
}

.group_item {
    text-transform: uppercase;
    padding: 20px 10px;
}

.form_select {
    cursor: pointer;
    background: transparent;
    color: #90a4ae;
    font-size: 14px;
    outline: none;
    margin: 0 10px;
    padding: 5px 0 5px 5px;
    text-transform: uppercase;
    border-radius: 3px;
}

.task {
    width: 1150px;
    display: flex;
    align-items: center;
    border: 5px solid rgb(18, 25, 29);
    margin: 0 0 30px 0;
    padding: 10px;
    background-color: rgb(29, 39, 44);
}

.task_item {
    width: 50%;
    margin-right: 40px;
}

.task_funcs {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.task_group {
    min-width: 100px;
    text-align: center;
    color: rgb(245, 219, 74);
    border: 1px solid yellow;
    border-radius: 3px 8px;
    padding: 3px 6px;
}

.status {
    text-align: center;
    width: 100px;
    color: rgb(33, 161, 33);
}

.status_btns button {
    cursor: pointer;
    width: 100px;
    padding: 5px 0;
    font-weight: bold;
    border-radius: 3px;
    border: none;
    background-color: rgb(190, 190, 31);
}

.status_btns button:nth-child(1) {
    margin-right: 10px;
}

.delete {
    width: 25px;
    height: 20px;
    margin: 0 20px 0 0;
    border-top: 1px solid rgb(24, 144, 204);
    border-left: 1px solid rgb(24, 144, 204);
    border-bottom: 1px solid rgb(0, 22, 117);
    border-right: 1px solid rgb(0, 22, 117);
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(179, 42, 18);
}

.delete:active {
    border-bottom: 1px solid rgb(24, 144, 204);
    border-right: 1px solid rgb(24, 144, 204);
    border-top: 1px solid rgb(0, 22, 117);
    border-left: 1px solid rgb(0, 22, 117);
}