.topline_container {
    position: fixed;
    width: 100%;
    padding: 10px;
    background: rgb(18, 25, 29);
    display: flex;
}

.sidebar_btn {
    width: 27px;
    cursor: pointer;
    margin-right: 25px;
}

.logo {
    margin-top: 2px;
    width: 7%;
    cursor: pointer;
    align-self: center;
}